.position{
    float:left;
    height:0.3rem;
    border-radius: 0.1rem;
    background:rgba(0,0,0,.1);
    padding:0 0.04rem;
 
    span{
        float:left;
        color:#fefefe;
        font-weight:700;
    }
    img{
        float:left;
        padding:0.05rem;
        padding-left:0;
        width:0.17rem;
    }
}