.Search{
    
    input{
        float:left;
        width:2rem;
        height:0.3rem;
        padding-left:0.35rem;
        background:url('https://m.juooo.com/static/img/nav_icon_search.f194288.png') no-repeat left center;
        background-size: contain;
        outline:none;
        border-radius: 0.2rem;
        background-color:rgba(0,0,0,0.1);
        color:#fff;
        border:1px solid hsla(0,0%,88%,.2);
        &::-webkit-input-placeholder{
            color:#fff;
        }
        
    }
    
}