*{
  margin:0px;
  padding:0px;
}

html,body{
  font-size:0.16rem;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
<<<<<<< HEAD
  display:inline-block;
}
/* .all::after{
  content:"";
  display:block;
  position: absolute;
  bottom:1rem;
} */
=======
}
>>>>>>> 6031720b5705c33d2378ea75dfcf283ee9d6863e
