*{
  margin:0px;
  padding:0px;
}

html,body{
  font-size:0.16rem;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  display:inline-block;
}
/* .all::after{
  content:"";
  display:block;
  position: absolute;
  bottom:1rem;
} */
